/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.app-name {
    margin-right: auto;
}

h1 {
    font-size: 1.5rem;
    margin: 0px;
}

span {
    font-weight: 100;
}

.header-user-vr {
    border-left: 1px solid #FFFFFF;
    padding-left: 10px;
}

.hd-user-name {
    font-size: .75rem;
    margin-left: 10px;
}

/* Grid Styles */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
    background-color: #7477BF;
    /* height: 80px; */
    color: #FFFFFF;
}

nav {
    grid-area: nav;
    background-color: #4D4C72;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

main {
    grid-area: main; 
}

/* Images */

.bell {
    width: 25px;
    margin-right: 10px;
}

.user-img {
    width: 30px;
    border-radius: 50%;
}

.nav-img {
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Media Queries */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
        }
    

    .main {
        display: grid;
    }
        
    .main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "main-header main-header";
    }
}
        












