/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: .5rem 1rem .5rem 1rem;
}

.app-name {
    margin-right: auto;
}

h1 {
    font-size: 1.5rem;
    margin: 0px;
}

span {
    font-weight: 100;
}

.header-user-vr {
    border-left: 1px solid #FFFFFF;
    padding-left: 10px;
}

.hd-user-name {
    font-size: .75rem;
    margin-left: 10px;
}

.headline {
    margin: 0;
    margin-right: auto;
}

.headline, h3 {
    color: #676666;
}

main {
    border-right: 1px solid #D8D8D8;
}

.main-header {
    height: 80px;
}

.traffic-nav {
    float: right;
}

li.traffic-nav-link {
    float: left;
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.traffic-h3 {
    margin-right: auto;
}

.traffic,
.daily,
.mobile,
.social,
.members,
.activity,
.message {
    border-bottom: 1px solid #D8D8D8;
}

.main-header,
.traffic,
.mobile, 
.daily, 
.social, 
.members, 
.message {
    padding-left: 1rem;
}

.traffic,
.daily, 
.mobile, 
.social, 
.activity, 
.settings {
    padding-right: 1rem;
}

.traffic,
.daily,
.mobile {
    padding-bottom: 1rem;
}

.main-header-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    background-color: #FBFBFB;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    padding-right: 1rem;
}

.search {
    height: 1rem;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
}

.alert-banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #7377BF;
    color: #FFFFFF;
    border-radius: 10px;
    height: 50px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.alert-banner-close {
    font-weight: normal;
    margin-left: auto;
}

/* Grid Styles */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
    background-color: #7477BF;
    color: #FFFFFF;
}

nav {
    grid-area: nav;
    background-color: #4D4C72;
    padding: 10px;
}

main {
    grid-area: main;
}

.main-header {
    grid-area: main-header;
}

/* Flexbox Styles */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.traffic-header {
    display: flex;
    justify-content: flex-end;
}

/* Social Stats Styles */

.social {
    padding-bottom: 1rem;
}

.social h3 {
    margin-bottom: 0px;
}

.social-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.social-container {
    background-color: #FBFBFB;
    border: 1px solid #D8D8D8;
    margin: 1rem;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-image {
    float: left;
}

.social-container svg {
    width: 45px;
}

.social-text {
    display: flex;
    flex-direction: column;
}

.social-text p {
    margin: 1px;
}

/* Chart Styles */

canvas {
    max-width: 100%;
}

.widget-container-full​, ​
.widget-container-half​ { ​
    position: relative;
    margin: auto;
    width: 95vw;
}

/* Image Styles */

.bell {
    width: 20px;
    margin-right: 10px;
}

.user-img {
    width: 30px;
    border-radius: 50%;
}

.nav-img {
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    
    /* Base Styles */

    header {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .hd-user-name {
        font-size: 1rem;
        margin: 0px 0px 0px 10px;
    }

    nav {
        width: 85px;
    }

    .mobile {
        border-left: 1px solid #D8D8D8;
    }
    
    .activity {
        border-left: 1px solid #D8D8D8;
    }
    
    .settings {
        border-left: 1px solid #D8D8D8;
    }

    /* Image Styles */

    .bell {
        width: 25px;
    }

    .user-img {
        width: 40px;
    }

    .nav-img {
        width: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    /* Grid Styles */

    .grid-container {
        grid-template-columns: 85px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }
        
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-header {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    
    .alert {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    /* Flexbox Styles */

    nav {
        flex-direction: column;
        justify-content: flex-start;
    }

    .social-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .social-container {
        margin: 1rem 1rem 2rem 1rem;
    }

    /* Chart Styles */

    ​.widget-container-full​ {
        ​width​: ​90vw​; 
    }
    ​.widget-container-half​ {
        width​: ​45vw​; 
    }
}

@media only screen and (min-width: 1024px) {
       
    .grid-container {
        max-width: 1200px;
        margin: 0 auto;
    }

}
        












