/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Grid Styles */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
    background-color: #7477BF;
    color: #FFFFFF;
}

nav {
    grid-area: nav;
    background-color: #4D4C72;
    padding: 10px;
}

main {
    grid-area: main;
}

.main-header {
    grid-area: main-header;
}

/* Chart Styles */

canvas {
    max-width: 100%;
}

.widget-container-full​, ​
.widget-container-half​ { ​
    position: relative;
    margin: auto;
    width: 95vw;
}

/* Header Styles */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 1rem .5rem 1rem;
}

.app-name {
    margin-right: auto;
}

h1 {
    font-size: 1.5rem;
    margin: 0px;
}

span {
    font-weight: 100;
}

.bell {
    width: 20px;
    margin-right: 10px;
}

.header-user-vr {
    border-left: 1px solid #FFFFFF;
    padding-left: 10px;
}

.profile-image {
    width: 30px;
    border-radius: 50%;
}

.hd-user-name {
    font-size: .75rem;
    margin-left: 10px;
}

/* Nav Styles */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-img {
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Main Styles */

main {
    border-right: 1px solid #D8D8D8;
}

/* Main Border Styles */

.traffic,
.daily,
.mobile,
.social,
.members,
.activity,
.message {
    border-bottom: 1px solid #D8D8D8;
}

/* Main Padding Styles */

.main-header,
.traffic,
.mobile, 
.daily, 
.social {
    padding-left: 1rem;
}

.traffic,
.daily, 
.mobile, 
.social, 
.activity, 
.settings {
    padding-right: 1rem;
}

.traffic,
.daily,
.mobile {
    padding-bottom: 1rem;
}

/* Main Header Styles */

.main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}

.headline {
    margin: 0;
    margin-right: auto;
}

.headline, h3 {
    color: #676666;
}

.main-header-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    background-color: #FBFBFB;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    padding-right: 1rem;
}

.search {
    height: 3rem;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    outline: none;
}

/* Alert Styles */

.alert-banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #7377BF;
    color: #FFFFFF;
    border-radius: 10px;
    height: 50px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.alert-banner-close {
    font-weight: normal;
    margin-left: auto;
}

/* Traffic Styles */

.traffic-header {
    display: flex;
    justify-content: flex-end;
}

.traffic-nav {
    float: right;
}

li.traffic-nav-link {
    float: left;
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    color: #676666;
}

.traffic-h3 {
    margin-right: auto;
}

/* Social Stats Styles */

.social {
    padding-bottom: 1rem;
}

.social h3 {
    margin-bottom: 0px;
}

.social-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.social-container {
    background-color: #FBFBFB;
    border: 1px solid #D8D8D8;
    margin: 1rem;
    min-width: 300px;
    height: 125px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-image {
    float: left;
    display: flex;
    justify-content: space-around;
    background-color: #7377BF;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-right: 1rem;
  }

.social-container svg {
    width: 40px;
    margin: auto;
}

.social-text {
    display: flex;
    flex-direction: column;
}

.social-hd-txt {
    color: #7377BF;
    margin: 1rem 0px 0px 0px;
}

.social-num-stat {
    font-size: 2.5rem;
    color: #666666;
    margin: 1px 0px 1rem 0px;
}

.twitter-svg {
    padding-top: 9px;
    padding-left: 2px;
}

.facebook-svg {
    padding-right: 2px;
    padding-bottom: 2px;
}

.google-svg {
    padding-left: 3px;
}

/* Members Styles */

.members,
.activity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.members-container {
    display: flex;
    align-items: center;
}

.user-img {
    float: left;
    width: 40px;
    border-radius: 50%;
    margin-right: .75rem;
}

.members-text {
    display: flex;
    flex-direction: column;
}

.members-text p {
    margin: 0px;
}

.date {
    margin-left: auto;
}

.members,
.activity {
    padding-left: 1rem;
    padding-right: 1rem;
}

.members-container {
    border-bottom: 1px solid #D8D8D8;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.members-container-bottom {
    border-bottom: 0px;
}

.members-text,
.date {
    color: #676666;
}

.members-text a,
.members-text a:link,
.members-text a:visited,
.members-text a:focus,
.members-text a:hover,
.members-text a:active {
    color: #7377BF;
}

/* Message Styles */

.widget-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    padding: 0rem 1rem 2rem 1rem;
}

.form-field {
    height: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    outline: none;
}

.form-area {
    height: 125px;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    resize: none;
    outline: none;
}

.button-primary-send {
    height: 45px;
    border-radius: 5px;
    background-color: #7377BF;
    color: white;
}

/* Settings Styles */

.settings {
    padding: 0rem 1rem 2rem 1rem;
}

.switch-light {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.notif-email-txt,
.send-profile-txt {
    display: flex;
    align-items: center;
}

.notif-email-txt label,
.send-profile-txt label {
    flex-basis: 60%;
}

.notif-email-txt input,
.send-profile-txt input {
    flex-basis: 40%;
}

.notif-email-txt {
    margin-top: 31px;
    margin-bottom: 30px;
}

.send-profile-txt {
    margin-bottom: 35px;
}

.large-3 strong {
    margin-right: auto;
    color: #676666
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 36px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: .2s;
}

input:checked + .slider {
    background-color: #7477bf;
}

input:focus + .slider {
    box-shadow: 0 0 3px #ccc;
}

input:checked + .slider:before {
    transform: translateX(34px);
}

.slider:after {
    content: 'OFF';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
    font-size: .8rem;
    font-weight: bold;
}
input:checked + .slider:after {
    content: 'ON';
    left: 25%;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

select.form-field {
    height: 3rem;
    padding: 1rem;
    margin-top: 15px;
    width: 100%;
}

select#timezone.form-field {
    color: #676666;
}

.settings-button {
    display: flex;
    flex-direction: row;
}

.button-primary-save {
    height: 45px;
    border-radius: 5px;
    background-color: #7377BF;
    color: white;
    margin-right: 1rem;
}

.button-disabled-cancel {
    height: 45px;
    border-radius: 5px;
    background-color: #B2B2B2;
    color: white;
}

.button-primary-save,
.button-disabled-cancel {
    flex-basis: 50%;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    
    /* Base & Misc Styles */

    header {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .hd-user-name {
        font-size: 1rem;
        margin: 0px 0px 0px 10px;
    }

    nav {
        width: 85px;
    }

    .mobile {
        border-left: 1px solid #D8D8D8;
    }

    .social-container {
        margin: 1rem 1rem 2rem 1rem;
    }
    
    .activity {
        border-left: 1px solid #D8D8D8;
    }
    
    .settings {
        border-left: 1px solid #D8D8D8;
    }
    
    /* Grid Styles */

    .grid-container {
        grid-template-columns: 85px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }
        
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-header {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    
    .alert {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    /* Chart Styles */

    ​.widget-container-full​ {
        ​width​: ​90vw​; 
    }
    ​.widget-container-half​ {
        width​: ​45vw​; 
    }

    /* Image Styles */

    .bell {
        width: 25px;
    }

    .profile-image {
        width: 40px;
    }

    .nav-img {
        width: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* Flexbox Styles */

    nav {
        flex-direction: column;
        justify-content: flex-start;
    }

    .social-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* Message Styles */

    .message {
        padding: 0rem 1rem 75px 1rem;
    }

    /* Settings Styles */

    .settings {
        padding: 0rem 1rem 75px 1rem;
    }

}

@media only screen and (min-width: 1024px) {
       
    /* Base & Misc Styles */

    .grid-container {
        max-width: 1200px;
        margin: 0 auto;
    }

}
        












