/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.app-name {
    margin-right: auto;
}

h1 {
    font-size: 1.5rem;
    margin: 0px;
}

span {
    font-weight: 100;
}

.header-user-vr {
    border-left: 1px solid #FFFFFF;
    padding-left: 10px;
}

.hd-user-name {
    font-size: .75rem;
    margin-left: 10px;
}

/* Grid Styles */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
    background-color: #7477BF;
    color: #FFFFFF;
}

nav {
    grid-area: nav;
    background-color: #4D4C72;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

main {
    grid-area: main; 
    display: grid;
    
}

/* Flexbox Styles */

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Chart Styles */

.widget-container-full​, ​
.widget-container-half​ { ​
    position: relative;
    margin: auto;
    width: 95vw;
}

/* Image Styles */

.bell {
    width: 20px;
    margin-right: 10px;
}

.user-img {
    width: 30px;
    border-radius: 50%;
}

.nav-img {
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Media Queries */

@media (min-width: 768px) {
    
    /* Base Styles */

    header {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .bell {
        width: 25px;
    }

    .user-img {
        width: 40px;
    }

    .hd-user-name {
        font-size: 1rem;
        margin: 0px 0px 0px 10px;
    }

    nav {
        flex-direction: column;
        justify-content: flex-start;
        width: 85px;
    }

    /* Image Styles */

    .nav-img {
        width: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* Grid Styles */

    .grid-container {
        grid-template-columns: 85px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
        }
        
    .main {
        grid-template-columns: 1fr 1fr;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    /* Flexbox Styles */

    .social {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* Chart Styles */

    ​.widget-container-full​ {
        ​width​: ​90vw​; 
    }
    ​.widget-container-half​ {
        width​: ​45vw​; 
    }
}

@media (min-width: 1024px) {
       
    .grid-container {
        max-width: 1200px;
        margin: 0 auto;
    }

}
        












